/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.flex
{
    display: flex;
}

.center
{
    justify-content: center;
}

.m1-left
{
    margin-left: 1rem;
}

.m1-right
{
    margin-right:1rem;
}

.m2-top
{
    margin-top: 2rem;
}
